body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}