body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

/* Hero section */
.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 900px;
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.introduction {
    flex-wrap: wrap;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.image {
    height: 200px;
    flex-basis: 100%;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information section */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.info-container {
    display: flex;
    gap: 50px;
}

.img-subtext {
    height: 150px;
    width: 150px;
    text-align: center;
}

.illustration {
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
}

.subtext {
    font-size: 16px;
    margin-top: 5px;
}

/* Quote section */
.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: #1F2937;
    font-size: 36px;
}

.person {
    font-weight: bold;
    display: flex;
    justify-content: end;
}

/* Call to Action section */
.action {
    display: flex;
    justify-content: center;
    padding: 75px 0px;
}

.action-container {
    background-color: #3882F6;
    width: 1000px;
}

/* Styling for raw elements */
h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin-bottom: 0;
}

a { 
    text-decoration: none;
}

.hero-para, a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

button {
    border: none;
    border-radius: 8px;
    color: #F9F4F8;
    background-color: #3882F6;
    font-weight: bold;
    font-size: 16px; 
    padding: 8px 25px;
}